{% get_static_prefix as STATIC_PREFIX %}

<a href="#" class="image_button_bundle {{class}}" {{attrs}}>
  <img
    src="{{ STATIC_PREFIX }}dallf/{{image_button_name}}.png"
    width="20"
    height="20"
    class="image_button image_button_not_active"
    id="id_image_{{image.id}}_{{image_button_name}}_not_active_button" />
  <img
    src="{{ STATIC_PREFIX }}dallf/{{image_button_name}}_active.png"
    width="20"
    height="20"
    class="image_button image_button_active"
    id="id_image_{{image.id}}_{{image_button_name}}_active_button" />
</a>
