<div class="img_wrap {{class}}">
  <img src="{{image.file.url}}" class="img_wrap__img">
  <div class="img_overlay">
    <div class="image_prompt">{{image.prompt}}</div>
    <a class="image_creator">{{image.user.get_full_name}}</a>
    <div class="image_buttons">
      {% if image.user == request.user %}
      <a href="#!" class="image_button_bundle"
        {% if image.published %}
        data-image_button_bundle--show_active
        {% endif %}
        onclick="
          publish(this, {{image.id}});
          event.preventDefault();
        ">
        <img
          src="{% static 'dallf/share_active.png' %}"
          width="20"
          height="20"
          class="image_button image_button_active"
          id="id_image_{{image.id}}_share_active_button{{id_suffix}}" />
      </a>
      {% endif %}
      <a href="{{image.file.url}}" target="_blank" class="image_button_bundle">
        <img
          src="{% static 'dallf/zoom_active.png' %}"
          width="20"
          height="20"
          class="image_button image_button_active"
          id="id_image_{{image.id}}_zoom_active_button{{id_suffix}}" />
      </a>
      <a href="#!" class="image_button_bundle"
        {% if image in favorite_images %}
        data-image_button_bundle--show_active
        {% endif %}
        onclick="
          favorite(this, {{image.id}});
          event.preventDefault();
        ">
        <img
          src="{% static 'dallf/favorite_active.png' %}"
          width="20"
          height="20"
          class="image_button image_button_active" />
      </a>
      <a href="#!" class="image_button_bundle" data-bs-toggle="modal"
        data-bs-target="#id_image_{{image.id}}_label_popup{{id_suffix}}"
        {% if image in labeled_images %}
        data-image_button_bundle--show_active
        {% endif %}>
        <img
          src="{% static 'dallf/label_active.png' %}"
          width="20"
          height="20"
          class="image_button image_button_active" />
      </a>
      {% if image.published %}
      <a href="{% url 'discussion_board' image.id %}" class="image_button_bundle">
        <img src="{% static 'dallf/discussion_board_active.png' %}"
          width="20"
          height="20"
          class="image_button image_button_active" />
      </a>
      {% endif %}
    </div>
  </div>
  <button
    id="id_image_{{image.id}}_label_button{{id_suffix}}"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#id_image_{{image.id}}_label_popup{{id_suffix}}"
    hidden>
    Label
  </button>
  <div
    class="modal"
    id="id_image_{{image.id}}_label_popup{{id_suffix}}"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <form class="modal-content"
        onsubmit="
          event.preventDefault();
          label(this, event, {{image.id}});
        ">
        <div class="modal-header">
          <h1
            class="modal-title fs-5"
            id="id_image_{{image.id}}_label_popup_title{{id_suffix}}">
            Adding Label
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal">
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input
              type="text"
              name="label_name"
              class="form-control"
              placeholder="Type label name or select from dropdown button">
            <button
              type="button"
              class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown">
            </button>
            <ul class="dropdown-menu dropdown-menu-end"
              onclick="
                var target = event.target;
                if (target instanceof Element && target.classList.contains('dropdown_selection__item')) {
                  this.parentElement.querySelector('input[name=\'label_name\']').value = target.textContent;
                }
              ">
              {% for label in request.user.labels.all %}
              <li><a class="dropdown-item dropdown_selection__item" href="#!">{{label.text}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            name="set_label"
            value="true"
            class="btn btn-primary">
            Add
          </button>
          <button
            type="submit"
            name="set_label"
            value="false"
            class="btn btn-danger">
            Remove
          </button>
        </div>
      </form>
    </div>
  </div>
</div>