{% extends 'dallf/base.html' %}
{% load static %}
{% block page-title %}
Dall-F Console
{% endblock %}

{% block content %}
<div class="container" id="id_prompt_input_group">
  <form>
    <div>
      <label for="id_prompt_input_text" id="id_prompt_text_label">
        Start with a detailed description
      </label>
      <button
        type="button"
        class="btn btn-secondary"
        id="id_feeling_lucky">
        I'm feeling lucky
      </button>
    </div>
    <div class="input-group mb-3 shadow-sm" id="id_prompt_input_bar">
      <input
        type="text"
        class="form-control"
        placeholder="An Impressionist oil painting of sunflowers in a purple vase…"
        aria-label="An Impressionist oil painting of sunflowers in a purple vase…"
        aria-describedby="button-addon2" />
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        num
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item">1</a></li>
        <li><a class="dropdown-item">2</a></li>
        <li><a class="dropdown-item">3</a></li>
        <li><a class="dropdown-item">4</a></li>
      </ul>
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        size
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item">256x256</a></li>
        <li><a class="dropdown-item">512x512</a></li>
        <li><a class="dropdown-item">1024x1024</a></li>
      </ul>
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon2">
        Generate
      </button>
    </div>
  </form>
</div>

<div class="container">
  <ul class="nav nav-tabs" id="id_console_tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="id_recent_tab"
        data-bs-toggle="tab"
        data-bs-target="#id_recent_pane"
        type="button"
        role="tab"
        aria-controls="home-tab-pane"
        aria-selected="true">
        Recent
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="id_favorite_tab"
        data-bs-toggle="tab"
        data-bs-target="#id_favorite_pane"
        type="button"
        role="tab"
        aria-controls="id_favorite_pane"
        aria-selected="false">
        Favorite
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="id_labels_tab"
        data-bs-toggle="tab"
        data-bs-target="#id_labels_pane"
        type="button"
        role="tab"
        aria-controls="id_labels_pane"
        aria-selected="false">
        Labels
      </button>
    </li>
  </ul>

  <div class="tab-content">
    <div
      class="tab-pane fade show active"
      id="id_recent_pane"
      role="tabpanel"
      aria-labelledby="id_recent_tab"
      tabindex="0">
      <div id="id_recent_gallery">
        <div class="container gallery-container">
          <div class="gallery-page">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="img_wrap lightbox">
                  <img src="{{recent_images.0.file.url}}" class="uploaded_img">
                  <div class="img_overlay">
                    <div class="image_prompt">{{recent_images.0.group.prompt}}</div>
                    <a class="image_creator">creator name</a>
                    <div class="image_buttons">
                      <a href="#" class="image_button_bundle">
                        <img
                          src="{% static 'dallf/share.png' %}"
                          width="20"
                          height="20"
                          class="image_button image_button_not_active"
                          id="id_image_{{recent_images.0.id}}_share_not_active_button" />
                        <img
                          src="{% static 'dallf/share_active.png' %}"
                          width="20"
                          height="20"
                          class="image_button image_button_active"
                          id="id_image_{{recent_images.0.id}}_share_active_button" />
                      </a>
                      <a href="#" class="image_button_bundle">
                        <img
                          src="{% static 'dallf/zoom.png' %}"
                          width="20"
                          height="20"
                          class="image_button image_button_not_active"
                          id="id_image_{{recent_images.0.id}}_zoom_not_active_button" />
                        <img
                          src="{% static 'dallf/zoom_active.png' %}"
                          width="20"
                          height="20"
                          class="image_button image_button_active"
                          id="id_image_{{recent_images.0.id}}_zoom_active_button" />
                      </a>
                      <a href="#" class="image_button_bundle">
                        <img
                          src="{% static 'dallf/favorite.png' %}"
                          width="20"
                          height="20"
                          class="image_button image_button_not_active" />
                        <img
                          src="{% static 'dallf/favorite_active.png' %}"
                          width="20"
                          height="20"
                          class="image_button image_button_active" />
                      </a>
                      <a href="#" class="image_button_bundle" onclick="clickLabelButton('{{recent_images.0.id}}')">
                        <img
                          src="{% static 'dallf/label.png' %}"
                          width="20"
                          height="20"
                          class="image_button image_button_not_active" />
                        <img
                          src="{% static 'dallf/label_active.png' %}"
                          width="20"
                          height="20"
                          class="image_button image_button_active" />
                      </a>
                      <a href="#" class="image_button_bundle">
                        <img src="{% static 'dallf/discussion_board.png' %}"
                          width="20"
                          height="20"
                          class="image_button image_button_not_active" />
                        <img src="{% static 'dallf/discussion_board_active.png' %}"
                          width="20"
                          height="20"
                          class="image_button image_button_active" />
                      </a>
                    </div>
                  </div>
                  <button
                    id="id_image_{{recent_images.0.id}}_label_button"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#id_image_{{recent_images.0.id}}_label_popup"
                    hidden>
                    Label
                  </button>
                  <div
                    class="modal"
                    id="id_image_{{recent_images.0.id}}_label_popup"
                    tabindex="-1"
                    aria-labelledby="id_image_{{recent_images.0.id}}_label_popup_title"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1
                            class="modal-title fs-5"
                            id="id_image_{{recent_images.0.id}}_label_popup_title">
                            Adding Label
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="input-group">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Type label name or select from dropdown button"
                              aria-label="Type label name or select from dropdown button">
                            <button
                              type="button"
                              class="btn btn-outline-secondary">
                              Add
                            </button>
                            <button
                              type="button"
                              class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                              data-bs-toggle="dropdown"
                              aria-expanded="false">
                              <span class="visually-hidden">
                                Toggle Dropdown
                              </span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <li><a class="dropdown-item" href="#">Cat</a></li>
                              <li><a class="dropdown-item" href="#">Dog</a></li>
                              <li><a class="dropdown-item" href="#">Bird</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary btn_popup"
                            data-bs-dismiss="modal">
                            Close
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn_popup">
                            Save changes
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="img_wrap lightbox">
                  <img src="{{recent_images.5.file.url}}" class="uploaded_img">
                  <div class="img_overlay">
                    <div class="image_prompt">{{recent_images.5.group.prompt}}</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="img_wrap lightbox">
                  <img src="{{recent_images.2.file.url}}" class="uploaded_img">
                  <div class="img_overlay">
                    <div class="image_prompt">{{recent_images.2.group.prompt}}</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="img_wrap lightbox">
                  <img src="{{recent_images.3.file.url}}" class="uploaded_img">
                  <div class="img_overlay">
                    <div class="image_prompt">{{recent_images.3.group.prompt}}</div>
                  </div>
                </div>
              </div>
              <div class=" col-sm-6 col-md-4">
                <div class="img_wrap lightbox">
                  <img src="{{recent_images.4.file.url}}" class="uploaded_img gallery_two_at_top">
                  <div class="img_overlay">
                    <div class="image_prompt">{{recent_images.4.group.prompt}}</div>
                  </div>
                </div>
                <div class="img_wrap lightbox">
                  <img src="{{recent_images.1.file.url}}" class="uploaded_img gallery_two_at_bottom">
                  <div class="img_overlay">
                    <div class="image_prompt">{{recent_images.1.group.prompt}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery-page">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <a class="lightbox" href="{{recent_images.6.file.url}}">
                <img src="{{recent_images.6.file.url}}" class="uploaded_img">
              </a>
            </div>
            <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="{{recent_images.7.file.url}}">
                <img src="{{recent_images.7.file.url}}" class="uploaded_img">
              </a>
            </div>
            <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="{{recent_images.8.file.url}}">
                <img src="{{recent_images.8.file.url}}" class="uploaded_img">
              </a>
            </div>
            <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="{{recent_images.9.file.url}}">
                <img src="{{recent_images.9.file.url}}" class="gallery_two_at_top uploaded_img">
              </a>
              <a class="lightbox gallery_two_at_bottom" href="{{recent_images.10.file.url}}">
                <img src="{{recent_images.10.file.url}}" class="gallery_two_at_bottom uploaded_img">
              </a>
            </div>
            <div class="col-sm-12 col-md-8">
              <a class="lightbox" href="{{recent_images.11.file.url}}">
                <img src="{{recent_images.11.file.url}}" class="uploaded_img">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="id_favorite_pane"
      role="tabpanel"
      aria-labelledby="id_favorite_tab"
      tabindex="0">
      ...
    </div>
    <div
      class="tab-pane fade"
      id="id_labels_pane"
      role="tabpanel"
      aria-labelledby="id_labels_tab"
      tabindex="0">
      <div class="label_buttons">
        <button type="button" class="btn btn-sm btn-primary label_button">Primary</button>
        <button type="button" class="btn btn-sm btn-secondary label_button">Secondary</button>
        <button type="button" class="btn btn-sm btn-success label_button">Success</button>
        <button type="button" class="btn btn-sm btn-danger label_button">Danger</button>
        <button type="button" class="btn btn-sm btn-warning label_button">Warning</button>
        <button type="button" class="btn btn-sm btn-info label_button">Info</button>
        <button type="button" class="btn btn-sm btn-light label_button">Light</button>
        <button type="button" class="btn btn-sm btn-dark label_button">Dark</button>
        <button type="button" class="btn btn-sm btn-primary label_button">Primary</button>
        <button type="button" class="btn btn-sm btn-secondary label_button">Secondary</button>
        <button type="button" class="btn btn-sm btn-success label_button">Success</button>
        <button type="button" class="btn btn-sm btn-danger label_button">Danger</button>
        <button type="button" class="btn btn-sm btn-warning label_button">Warning</button>
        <button type="button" class="btn btn-sm btn-info label_button">Info</button>
        <button type="button" class="btn btn-sm btn-light label_button">Light</button>
        <button type="button" class="btn btn-sm btn-primary label_button">Primary</button>
        <button type="button" class="btn btn-sm btn-secondary label_button">Secondary</button>
        <button type="button" class="btn btn-sm btn-success label_button">Success</button>
        <button type="button" class="btn btn-sm btn-danger label_button">Danger</button>
        <button type="button" class="btn btn-sm btn-warning label_button">Warning</button>
        <button type="button" class="btn btn-sm btn-info label_button">Info</button>
        <button type="button" class="btn btn-sm btn-light label_button">Light</button>
        <button type="button" class="btn btn-sm btn-dark label_button">Dark</button>
        <button type="button" class="btn btn-sm btn-dark label_button">Dark</button>
      </div>
    </div>
  </div>
</div>














<div style="height: 100vh;"></div>
<div class="div_prompt_input container" id="id_prompt_input_div">
  <form action="" method="post">
    <label for="id_prompt_input_text">Prompt: </label>
    <input
      type="text"
      name="prompt_input"
      id="id_prompt_input_text"
      value="{{ prompt_input }}" />
    <br />
    <br />
    <label for="id_prompt_num_input">Number: </label>
    <input
      type="range"
      min="1"
      max="4"
      value="1"
      name="num_input"
      id="id_prompt_num_input" />
    <br />
    <br />
    <label for="id_prompt_size_input">Size: </label>
    <select name="size_input" id="id_prompt_size_input">
      <option value="256x256">256x256</option>
      <option value="512x512">512x512</option>
      <option value="1024x1024">1024x1024</option>
    </select>
    <br />
    <br />
    <button type="submit" class="button" id="id_prompt_submit_button">
      submit
    </button>
    {% csrf_token %}
  </form>
</div>

<div class="container">
  <div>
    Current Prompt
    <br />
    {% for image in current_prompt.image_set.all %}
    <img src="{{image.file.url}}" />
    <br />
    <form action="/favorite/" method="post">
      <input type="hidden" name="image_id" value="{{image.id}}" />
      <button type="submit" class="button">Favorite</button>
      {% csrf_token %}
    </form>
    <br />
    <form action="/label/" method="post">
      <input type="hidden" name="image_id" value="{{image.id}}" />
      <input type="text" name="label_name" />
      <button type="submit" class="button">Label</button>
      {% csrf_token %}
    </form>
    <br />
    {% endfor %}
  </div>
  <div>
    Recent Prompts
    <br />
    {% for image in recent_images %}
    <img src="{{image.file.url}}" width="256" height="256" />
    {% endfor %}
    <br />
  </div>
  <div>
    Favorites
    <br />
    {% for image in favorites.all %}
    <img src="{{image.file.url}}" width="256" height="256" />
    {% endfor %}
  </div>
  <div>
    Images with label
    <br />
    {% for label in label_image_set %} {{label.text}}
    <br />
    {% for image in label.image_set.all %}
    <img src="{{image.file.url}}" width="256" height="256" />
    {% endfor %}
    <br />
    {% endfor %}

  </div>
</div>
{% endblock %}