{% extends 'dallf/base.html' %}


{% block page-title %}
Dall-F Console
{% endblock %}

{% block navigation %}
<a class="nav-link" href="{% url 'gallery' %}">
  Gallery
</a>
<a class="nav-link active" href="{% url 'console' %}">
  Console
</a>
{% endblock %}

{% block content %}
<div class="container my-5" id="id_prompt_input_group">
  <form method="post" onsubmit="generate(this, event)"
    onformdata="make_generate_form(this, event)">
    {% csrf_token %}
    <div>
      <label for="id_prompt_input_text" id="id_prompt_text_label">
        Start with a detailed description
      </label>
      <button
        type="button"
        class="btn btn-secondary"
        id="id_feeling_lucky">
        I'm feeling lucky
      </button>
    </div>
    <div class="input-group mb-3 shadow-sm" id="id_prompt_input_bar">
      <input
        type="text"
        name="prompt_input"
        required
        class="form-control"
        placeholder="An Impressionist oil painting of sunflowers in a purple vase…" />
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside">
        num
      </button>
      <ul class="dropdown-menu dropdown_selection" id="dropdown_num"
        onclick="click_dropdown(this, event);"
        data-name="num_input">
        <li><a class="dropdown-item active dropdown_selection__item">1</a></li>
        <li><a class="dropdown-item dropdown_selection__item">2</a></li>
        <li><a class="dropdown-item dropdown_selection__item">3</a></li>
        <li><a class="dropdown-item dropdown_selection__item">4</a></li>
      </ul>
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside">
        size
      </button>
      <ul class="dropdown-menu dropdown-menu-end dropdown_selection" id="dropdown_size"
        onclick="click_dropdown(this, event);"
        data-name="size_input">
        <li><a class="dropdown-item active dropdown_selection__item">256x256</a></li>
        <li><a class="dropdown-item dropdown_selection__item">512x512</a></li>
        <li><a class="dropdown-item dropdown_selection__item">1024x1024</a></li>
      </ul>
      <button
        class="btn btn-outline-secondary"
        type="submit"
        id="generate_button"
        {% if user.is_generating %}
        disabled
        {% endif %}>
        {% if user.is_generating %}
        <span id="generate_button__spinner" class="spinner-border spinner-border-sm"></span>
        {% else %}
        <span id="generate_button__text">Generate</span>
        {% endif %}
      </button>
    </div>
  </form>
</div>

<div class="container my-5" id="id_last_generated_images">
  <div class="row justify-content-evenly g-3">
    {% for image in last_generated_images %}
    <div class="col last_generated_images_col">
      {% include "dallf/components/image.html" %}
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs" id="id_console_tabs">
    <li class="nav-item">
      <button
        class="nav-link active"
        id="id_recent_tab"
        data-bs-toggle="tab"
        data-bs-target="#id_recent_pane"
        type="button">
        Recent
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        id="id_favorite_tab"
        data-bs-toggle="tab"
        data-bs-target="#id_favorite_pane"
        type="button">
        Favorite
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        id="id_labels_tab"
        data-bs-toggle="tab"
        data-bs-target="#id_labels_pane"
        type="button">
        Labels
      </button>
    </li>
  </ul>

  <div class="tab-content">
    <div
      class="tab-pane fade show active"
      id="id_recent_pane"
      tabindex="0">
      <div class="container py-3" id="id_recent_images">
        <div class="row row-cols-4 g-3">
          {% for image in recent_images %}
          <div class="col">
            {% include "dallf/components/image.html" %}
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
    <div
      class="tab-pane fade"
      id="id_favorite_pane"


      tabindex="0">
      ...
    </div>
    <div
      class="tab-pane fade"
      id="id_labels_pane"


      tabindex="0">
      <div class="label_buttons">
        <button type="button" class="btn btn-sm btn-primary label_button">Primary</button>
        <button type="button" class="btn btn-sm btn-secondary label_button">Secondary</button>
        <button type="button" class="btn btn-sm btn-success label_button">Success</button>
        <button type="button" class="btn btn-sm btn-danger label_button">Danger</button>
        <button type="button" class="btn btn-sm btn-warning label_button">Warning</button>
        <button type="button" class="btn btn-sm btn-info label_button">Info</button>
        <button type="button" class="btn btn-sm btn-light label_button">Light</button>
        <button type="button" class="btn btn-sm btn-dark label_button">Dark</button>
        <button type="button" class="btn btn-sm btn-primary label_button">Primary</button>
        <button type="button" class="btn btn-sm btn-secondary label_button">Secondary</button>
        <button type="button" class="btn btn-sm btn-success label_button">Success</button>
        <button type="button" class="btn btn-sm btn-danger label_button">Danger</button>
        <button type="button" class="btn btn-sm btn-warning label_button">Warning</button>
        <button type="button" class="btn btn-sm btn-info label_button">Info</button>
        <button type="button" class="btn btn-sm btn-light label_button">Light</button>
        <button type="button" class="btn btn-sm btn-primary label_button">Primary</button>
        <button type="button" class="btn btn-sm btn-secondary label_button">Secondary</button>
        <button type="button" class="btn btn-sm btn-success label_button">Success</button>
        <button type="button" class="btn btn-sm btn-danger label_button">Danger</button>
        <button type="button" class="btn btn-sm btn-warning label_button">Warning</button>
        <button type="button" class="btn btn-sm btn-info label_button">Info</button>
        <button type="button" class="btn btn-sm btn-light label_button">Light</button>
        <button type="button" class="btn btn-sm btn-dark label_button">Dark</button>
        <button type="button" class="btn btn-sm btn-dark label_button">Dark</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  "use strict";

  function set_spinner(state) {
    let elem = document.getElementById("generate_button");
    if (state) {
      elem.innerHTML = '<span id="generate_button__spinner" class="spinner-border spinner-border-sm"></span>';
    } else {
      elem.innerHTML = '<span id="generate_button__text">Generate</span>';
    }
    elem.toggleAttribute("disabled", state);
  }

  function generate(form, event) {
    event.preventDefault();
    set_spinner(true);
    console.log(form);
    let data = new FormData(form);
    console.log(data);
    $.ajax("/console/", {
      processData: false,
      contentType: false,
      method: "POST",
      data: data,
      success: function (response_data) {
        let template = document.createElement('template');
        template.innerHTML = response_data;
        let response_document = template.content;
        document.getElementById('id_last_generated_images').replaceWith(
          response_document.getElementById('id_last_generated_images')
        );
        document.getElementById('id_recent_images').replaceWith(
          response_document.getElementById('id_recent_images')
        );
        set_spinner(false);
      },
      error: function (request, error) {
        console.log(request);
        console.log(error);
        set_spinner(false);
      }
    });
  }

  function make_generate_form(form, event) {
    let data = event.formData;
    let elems_to_add = form.querySelectorAll('.dropdown_selection');
    for (let elem of elems_to_add) {
      let text = elem.querySelector('.dropdown_selection__item.active').textContent;
      data.set(elem.dataset.name, text);
    }
  }
</script>
{% endblock %}
