<!-- Keep in sync with console.html -->

<div class="container my-5" id="id_last_generated_images">
  <div class="row justify-content-evenly g-3">
    {% for image in last_generated_images %}
    <div class="col last_generated_images_col">
      {% include "dallf/components/image.html" %}
    </div>
    {% endfor %}
  </div>
</div>

<div class="container py-3" id="id_recent_images">
  <div class="row row-cols-4 g-3">
    {% for image in recent_images %}
    <div class="col">
      {% include "dallf/components/image.html" %}
    </div>
    {% endfor %}
  </div>
</div>
