{% extends 'dallf/base.html' %}


{% block content %}
<div class="container mt-5 d-flex justify-content-center">
  {% include "dallf/components/image.html" with image=recent_images.0 class='discussion_board_image' %}
</div>


<div class="container" id="id_discussion_container">
  <div id="id_discussion_board_title">
    Recent activities
  </div>
  <div id="id_discussions">
    <div class="post_wrap">
      <div class="post_post">
        <div class="post_portrait">
          <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="40">
        </div>
        <div class="post_content">
          <div class="post_information">
            <a href="#" class="post_poster">
              Poster Name
            </a>
            <span class="date_time">
              2:14 PM, Nov 20, 2022
            </span>
          </div>
          <div class="post_text">
            This image is really impressive, how did you do that?
          </div>
        </div>
      </div>
      <div class="post_comments">
        <div class="post_comment">
          <div class="post_portrait">
            <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="40">
          </div>
          <div class="comment_content">
            <div class="comment_information">
              <a href="#" class="post_commenter">
                Commenter Name
              </a>
              <span class="date_time">
                2:16 PM, Nov 20, 2022
              </span>
            </div>
            <div class="comment_text">
              It is not so hard, you can do this...
            </div>
          </div>
        </div>
        <div class="post_comment">
          <div class="post_portrait">
            <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="40">
          </div>
          <div class="comment_content">
            <div class="comment_information">
              <a href="#" class="post_commenter">
                Commenter Name
              </a>
              <span class="date_time">
                2:16 PM, Nov 20, 2022
              </span>
            </div>
            <div class="comment_text">
              Thanks a lot!
            </div>
          </div>
        </div>
        <div class="comment_input_group">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Type your comment here">
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="button-addon2">
              Comment
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="post_wrap">
      <div class="post_post">
        <div class="post_portrait">
          <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="40">
        </div>
        <div class="post_content">
          <div class="post_information">
            <a href="#" class="post_poster">
              Poster Name
            </a>
            <span class="date_time">
              2:14 PM, Nov 20, 2022
            </span>
          </div>
          <div class="post_text">
            This image is really impressive, how did you do that?
          </div>
        </div>
      </div>
      <div class="post_comments">
        <div class="post_comment">
          <div class="post_portrait">
            <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="40">
          </div>
          <div class="comment_content">
            <div class="comment_information">
              <a href="#" class="post_commenter">
                Commenter Name
              </a>
              <span class="date_time">
                2:16 PM, Nov 20, 2022
              </span>
            </div>
            <div class="comment_text">
              It is not so hard, you can do this...
            </div>
          </div>
        </div>
        <div class="post_comment">
          <div class="post_portrait">
            <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="40">
          </div>
          <div class="comment_content">
            <div class="comment_information">
              <a href="#" class="post_commenter">
                Commenter Name
              </a>
              <span class="date_time">
                2:16 PM, Nov 20, 2022
              </span>
            </div>
            <div class="comment_text">
              Thanks a lot!
            </div>
          </div>
        </div>
        <div class="comment_input_group">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Type your comment here">
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="button-addon2">
              Comment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="post_wrap container">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Type your post here">
    <button
      class="btn btn-outline-secondary"
      type="button"
      id="button-addon2">
      Post
    </button>
  </div>
</div>
{% endblock %}
