{% extends 'dallf/base.html' %}


{% block content %}
<div class="container mt-5 d-flex justify-content-center">
  {% include "dallf/components/image.html" with image=image class='discussion_board_image' %}
</div>


<div class="container" id="id_discussion_container">
  <div id="id_discussion_board_title">
    Discussions
  </div>
  <div id="id_discussions_{{image.id}}" class="discussions">
  </div>

  <div class="discussion_wrap container">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Type your comment here">
      <button
        class="btn btn-outline-secondary"
        type="button">
        Comment
      </button>
    </div>
  </div>
</div>

<script>
  function getDiscussion() {
    // get the id of the only one element of discussions class from
    // <div id="id_discussions_{{recent_images.0.id}}" class="discussions">

    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
      if (this.readyState != 4) {
        return;
      }
      updateDiscussionBoard(xhr);
    };
    console.log()
    console.log('/images/{{image.id}}/discussion')
    console.log()
    xhr.open("GET", '/images/{{image.id}}/discussion', true);
    xhr.send();
  }
  window.onload = getDiscussion
  window.setInterval(getDiscussion, 5000);
</script>
{% endblock %}