{% extends 'socialnetwork/base.html' %}

{% block user-info %}
    <a href="{% url 'my_profile' %}" id="id_nav_profile" class="nav-element">
        {{user.first_name}} {{user.last_name}}
    </a>
{% endblock user-info %}

{% block navigation %}
    <a href="{% url 'global_stream' %}" id="id_nav_global_stream" class="nav-element">
        Global
    </a>
    <a href="{% url 'follower_stream' %}" id="id_nav_follower_stream" class="nav-element">
        Follower
    </a>
    <a href="{% url 'logout' %}" id="id_nav_logout" class="nav-element">
        Logout
    </a>
{% endblock %}