{% extends 'dallf/profile_base.html' %}


{% block profile_button %}


<button
  class="btn btn-sm btn-outline-primary w-100"
  id="id_profile_card_button"
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#id_edit_profile_popup">
  Edit Profile
</button>
<div
  class="modal"
  id="id_edit_profile_popup"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-5"
          id="id_edit_profile_popup_title">
          Edit Profile
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal">
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group" id="id_portrait_upload">
          <input
            type="file"
            class="form-control"
            id="inputGroupFile04">
        </div>
        <div class="input-group">
          <span class="input-group-text">
            Bio
          </span>
          <textarea
            class="form-control">
                                            </textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn_popup"
          data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary btn_popup">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
