{% extends 'dallf/base.html' %}


{% block content %}

<div class="container mt-5 d-flex justify-content-center">
  <div class="profile_card p-3 mt-5">
    <div class="d-flex align-items-center">
      <div class="image">
        <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="155">
      </div>
      <div class="ms-3 w-100">
        <h4 class="mb-0 mt-0">Username</h4>
        <div
          class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white profile_stats"
          id="id_profile_card_stats">
          <div class="d-flex flex-column">
            <span class="profile_stats_class">Posted</span>
            <span class="profile_stats_number">38</span>
          </div>
          <div class="d-flex flex-column">
            <span class="profile_stats_class">Followers</span>
            <span class="profile_stats_number">980</span>
          </div>
          <div class="d-flex flex-column">
            {% block profile_button %}
            {% endblock %}
          </div>
        </div>
        <div class="id_profile_bio mt-3" id="id_profile_bio">
          Hello, nice to meet you!Hello, nice to meet you!Hello, nice to meet you!Hello, nice to meet you!
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="id_recent_post_container">
  <div id="id_recent_post_title">
    Recent posts
  </div>
  <div id="id_recent_posts">
    <div class="container gallery-container">
      <div class="gallery-page">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="img_wrap lightbox">
              <img src="{{images.0.file.url}}" class="uploaded_img">
              <div class="img_overlay">
                <div class="image_prompt">{{images.0.prompt}}</div>
                <a class="image_creator">creator name</a>
                <div class="image_buttons">
                  <a href="#" class="image_button_bundle">
                    <img
                      src="{% static 'dallf/share.png' %}"
                      width="20"
                      height="20"
                      class="image_button image_button_not_active"
                      id="id_image_{{images.0.id}}_share_not_active_button" />
                    <img
                      src="{% static 'dallf/share_active.png' %}"
                      width="20"
                      height="20"
                      class="image_button image_button_active"
                      id="id_image_{{images.0.id}}_share_active_button" />
                  </a>
                  <a href="#" class="image_button_bundle">
                    <img
                      src="{% static 'dallf/zoom.png' %}"
                      width="20"
                      height="20"
                      class="image_button image_button_not_active"
                      id="id_image_{{images.0.id}}_zoom_not_active_button" />
                    <img
                      src="{% static 'dallf/zoom_active.png' %}"
                      width="20"
                      height="20"
                      class="image_button image_button_active"
                      id="id_image_{{images.0.id}}_zoom_active_button" />
                  </a>
                  <a href="#" class="image_button_bundle">
                    <img
                      src="{% static 'dallf/favorite.png' %}"
                      width="20"
                      height="20"
                      class="image_button image_button_not_active" />
                    <img
                      src="{% static 'dallf/favorite_active.png' %}"
                      width="20"
                      height="20"
                      class="image_button image_button_active" />
                  </a>
                  <a href="#" class="image_button_bundle" onclick="clickLabelButton('{{images.0.id}}')">
                    <img
                      src="{% static 'dallf/label.png' %}"
                      width="20"
                      height="20"
                      class="image_button image_button_not_active" />
                    <img
                      src="{% static 'dallf/label_active.png' %}"
                      width="20"
                      height="20"
                      class="image_button image_button_active" />
                  </a>
                  <a href="#" class="image_button_bundle">
                    <img src="{% static 'dallf/discussion_board.png' %}"
                      width="20"
                      height="20"
                      class="image_button image_button_not_active" />
                    <img src="{% static 'dallf/discussion_board_active.png' %}"
                      width="20"
                      height="20"
                      class="image_button image_button_active" />
                  </a>
                </div>
              </div>
              <button
                id="id_image_{{images.0.id}}_label_button"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#id_image_{{images.0.id}}_label_popup"
                hidden>
                Label
              </button>
              <div
                class="modal"
                id="id_image_{{images.0.id}}_label_popup"
                tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1
                        class="modal-title fs-5"
                        id="id_image_{{images.0.id}}_label_popup_title">
                        Adding Label
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Type label name or select from dropdown button">
                        <button
                          type="button"
                          class="btn btn-outline-secondary">
                          Add
                        </button>
                        <button
                          type="button"
                          class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                          data-bs-toggle="dropdown">
                          <span class="visually-hidden">
                            Toggle Dropdown
                          </span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li><a class="dropdown-item" href="#">Cat</a></li>
                          <li><a class="dropdown-item" href="#">Dog</a></li>
                          <li><a class="dropdown-item" href="#">Bird</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary btn_popup"
                        data-bs-dismiss="modal">
                        Close
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary btn_popup">
                        Save changes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="img_wrap lightbox">
              <img src="{{images.5.file.url}}" class="uploaded_img">
              <div class="img_overlay">
                <div class="image_prompt">{{images.5.prompt}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="img_wrap lightbox">
              <img src="{{images.9.file.url}}" class="uploaded_img">
              <div class="img_overlay">
                <div class="image_prompt">{{images.9.prompt}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="img_wrap lightbox">
              <img src="{{images.2.file.url}}" class="uploaded_img">
              <div class="img_overlay">
                <div class="image_prompt">{{images.2.prompt}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="id_recent_comment_container">
  <div id="id_recent_comment_title">
    Recent activities
  </div>
  <div id="id_recent_comments">
    <div class="discussion_wrap">
      <div class="discussion_comment">
        <div class="discussion_portrait">
          <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="40">
        </div>
        <div class="discussion_comment_content">
          <div class="discussion_post_information">
            <a href="#" class="discussion_commenter">
              Poster Name
            </a>
            <span class="discussion_date_time">
              2:14 PM, Nov 20, 2022
            </span>
          </div>
          <div class="discussion_comment_text">
            This image is really impressive, how did you do that?
          </div>
        </div>
      </div>
      <div class="discussion_replies">
        <div class="discussion_reply">
          <div class="discussion_portrait">
            <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="40">
          </div>
          <div class="discussion_reply_content">
            <div class="discussion_post_information">
              <a href="#" class="discussion_commenter">
                Commenter Name
              </a>
              <span class="discussion_date_time">
                2:16 PM, Nov 20, 2022
              </span>
            </div>
            <div class="discussion_reply_text">
              It is not so hard, you can do this...
            </div>
          </div>
        </div>
        <div class="discussion_reply">
          <div class="discussion_portrait">
            <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="40">
          </div>
          <div class="discussion_reply_content">
            <div class="discussion_post_information">
              <a href="#" class="discussion_commenter">
                Commenter Name
              </a>
              <span class="discussion_date_time">
                2:16 PM, Nov 20, 2022
              </span>
            </div>
            <div class="discussion_reply_text">
              Thanks a lot!
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="discussion_wrap">
      <div class="discussion_comment">
        <div class="discussion_portrait">
          <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="40">
        </div>
        <div class="discussion_comment_content">
          <div class="discussion_post_information">
            <a href="#" class="discussion_commenter">
              Poster Name
            </a>
            <span class="discussion_date_time">
              2:14 PM, Nov 20, 2022
            </span>
          </div>
          <div class="discussion_comment_text">
            This image is really impressive, how did you do that?
          </div>
        </div>
      </div>
      <div class="discussion_replies">
        <div class="discussion_reply">
          <div class="discussion_portrait">
            <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="40">
          </div>
          <div class="discussion_reply_content">
            <div class="discussion_post_information">
              <a href="#" class="discussion_commenter">
                Commenter Name
              </a>
              <span class="discussion_date_time">
                2:16 PM, Nov 20, 2022
              </span>
            </div>
            <div class="discussion_reply_text">
              It is not so hard, you can do this...
            </div>
          </div>
        </div>
        <div class="discussion_reply">
          <div class="discussion_portrait">
            <img src="{% static 'dallf/not_found.jpg' %}" class="rounded" width="40">
          </div>
          <div class="discussion_reply_content">
            <div class="discussion_post_information">
              <a href="#" class="discussion_commenter">
                Commenter Name
              </a>
              <span class="discussion_date_time">
                2:16 PM, Nov 20, 2022
              </span>
            </div>
            <div class="discussion_reply_text">
              Thanks a lot!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container" id="id_my_profile_input_group">
    <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
    </div>
    <div class="input-group">
        <span class="input-group-text">
            With textarea
        </span>
        <textarea class="form-control"></textarea>
                                        </div>
                                    </div> -->

<!--
<div>
    {% if not profile.picture %}

    <img src="{% static 'socialnetwork/image-not-found.jpg' %}" alt="portrait" width="300" height="300" id="id_user_picture">
    {% else %}
    <img src="{% url 'photo' profile.user.id %}" alt="portrait" width="300" height="300" id="id_user_picture">
    {% endif %}
</div>
<div>
    <form method="post" action="{% url 'my_profile' %}" enctype="multipart/form-data">
        <table>
            {{form}}
        </table>
        {% csrf_token %}
        <button id="id_update_profile_button">
            Submit
        </button>
    </form>
</div>
<div>
    <p>
        You are following:
    </p>
    <ul>
        {% for u in user.profile.following.all %}
        <li>

            <a href="{% url 'others_profile' u.id %}" id="id_profile_link_{{u}}">
                {{u.first_name}} {{u.last_name}}
            </a>
        </li>
        {% endfor %}
    </ul>
</div> -->
{% endblock content %}
