#id_title {
    font-weight: 500;
}

#id_username {
    color: rgba(0, 0, 0, 0.7);
    padding-left: 8px;
    padding-right: 12px;
    text-decoration: none;
}

#id_prompt_text_label {
    padding-bottom: 15px;
}

body {
    background-color: rgb(250, 250, 252);
}

#id_prompt_input_group {
    font-size: 14px;
    line-height: 1.5em;
    color: rgb(119, 119, 119);
}

#id_feeling_lucky {
    padding: .02rem .5rem;
    font-size: .7rem;
    --bs-btn-bg: rgb(180, 180, 180);
    --bs-btn-border-color: rgba(0, 0, 0, 0);
    font-weight: 600;
}

#id_prompt_input_bar {
    height: 45px;
}

.dropdown-toggle {
    --bs-btn-border-color: rgba(0, 0, 0, 0.2);
    --bs-btn-bg: rgb(255, 255, 255);
}

.btn {
    --bs-btn-border-color: rgba(0, 0, 0, 0.2);
    --bs-btn-bg: rgb(255, 255, 255);
}

.nav-link {
    --bs-nav-link-hover-color: rgba(0, 0, 0, 0.5);
    --bs-nav-link-color: rgba(0, 0, 0, 0.3);
}

.last_generated_images_col {
    max-width: 40%;
    /* not too big */
}

.img_wrap {
    position: relative;
}

.img_wrap .img_wrap__img {
    width: 100%;
    height: auto;
}

.img_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background: rgba(255, 255, 255, 0.9);
}

.img_wrap:hover .img_overlay {
    /* visibility: visible; */
    opacity: 1;
}

.image_prompt {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image_creator {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    top: 3%;
    left: 3%;
}

.image_buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 4px;
}

.image_button_bundle .image_button_active {
    transition: all 0.2s ease-out;
    transition-property: opacity, filter;
}

.image_button_bundle:not([data-image_button_bundle--show_active]) .image_button_active {
    opacity: 0.5;
    filter: contrast(0%);
}

.image_button_bundle:hover:not([data-image_button_bundle--show_active]) .image_button_active {
    opacity: 0.8;
}

.image_button_bundle[data-image_button_bundle--show_active] .image_button_active {
    opacity: 1;
    filter: none;
}

.btn_popup {
    color: rgba(0, 0, 0, 0.7);
}

.label_buttons {
    padding-top: 10px;
    line-height: 230%;
}

.label_button {
    color: rgba(0, 0, 0, 0.7);
}

#id_gallery_title {
    padding-top: 180px;
    padding-bottom: 180px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.7);
}

#id_my_profile_input_group {
    display: flex;
}

#id_my_profile_card {
    margin-top: 100px;
    border-radius: 15px;
    background-color: white;
    /* border: 1px solid;
    border-color: rgba(0, 0, 0, 0.7); */
    padding: 20px;
    width: 60%;
    height: 30vw;
    position: relative;
    display: flex;
}

#id_portrait_image {
    height: 100%;
    width: auto;
    border-radius: 5px;
}

#id_profile_bio {
    /* text-align: right; */
    align-self: flex-end;
}

#id_profile_card_stats {
    position: relative;
}

#id_profile_card_button {
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.1);
}

#id_profile_card_button:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
}







.profile_card {
    width: 600px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.profile_stats {
    background: #f2f5f8 !important;
    color: #000 !important;
}

.profile_stats_class {
    font-size: 10px;
    color: #a1aab9;
}

.profile_stats_number {
    font-weight: 500;
}

#id_portrait_upload {
    margin-bottom: 10px;
}

#id_recent_post_title,
#id_recent_comment_title,
#id_discussion_board_title {
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.7);
}

.discussion_wrap {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.discussion_reply,
.discussion_comment {
    display: flex;
    background-color: rgb(250, 250, 252);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.discussion_portrait {
    padding-top: 8px;
    padding-right: 10px;
}

.discussion_commenter {
    text-decoration: none;
    font-size: small;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
}

.discussion_date_time {
    padding-left: 3px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}

.discussion_reply_text,
.discussion_comment_text {
    color: rgba(0, 0, 0, 0.7);
    padding-top: 5px;
}

.discussion_replies {
    margin-left: 60px;
}

.discussion_board_image {
    margin-top: 60px;
}

.discussion_reply_input_group {
    margin-top: 10px;
}
